extends Ogame_Layout
block content
  #inhalt
    #buttonz
      .header
        h2 Highscore
      .content
        div#highscoreContent
          span.dropdown.currentlySelected.changeSite.fright(style='width: 150px; margin-right: 32px;')
            a#dropDown(data-pag=(Math.floor(init/100)+1) href='javascript:void(0);' onclick='clickDropDown();')  1 - 100
          ul#dropDownList.dropdown.dropdownList.initialized(style='left: 488px; top: 34px; min-width: 150px; display:none;')
            - var n = 1;
            - var tope = Math.floor(max/100) + 1
            while n <= tope
              li
                a(onclick='changePag(' + n + ')') #{(n*100-99) + ' - ' + (n*100)}
              - n++
          #highscoreHeadline.fleft
            | Points
          table#ranks.userHighscore
            thead
              tr
                td.positionTittle
                  | Position
                td.changeTittle
                td.nameTittle
                  | Players Name
                td.coorTittle
                  | Coordinates
                td.scoreTittle
                  | Points
            tbody
              - var i = 1
              while i <= 100
                tr#position(class=( i%2==0 ? '' : 'alt'))
                  td.positionField
                    | #{i}
                  td.movement
                    span.stats_counter
                  td.name
                    a.dark_highlight_tablet(href='javascript:void(0);' onclick='goToPlayerOverview(' + i + ')')
                      span.playername
                        | -
                  td.coor
                    a(href='javascript:void(0);' onclick='goToGalaxyByHishcore(' + i + ')')
                      span.coorPlayer
                        | -
                  td.scoreField
                    | -
                - i++
      .footer
