extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Planets/Facilities_Planet_1.jpg)')
      #header_text(style='opacity: 1; display: block;')
        h2 Facilities - Planeta Principal
      form(method='POST' action='' name='form')
        #detail.detail_screen
          #imgBlackInfo.pic
            a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
              .techtree_img
              span.label Techtree
          #content
            h2#nameText
            a#close.close_details(href='javascript:void(0);' onclick='toggleDescription("void"); return false;')
            span#levelText.level
              | Level 0
              span.undermark
            br.clearfloat
            ul.production_info
              li
                | Production duration:
                span#buildDuration.time
                  | 0s
                  span.undermark
            a.demolish_link.tooltip.demolishDisabled(href='#demolish3' onclick='')
              .demolish_img_disabled
              span.label Tear down
            .costs_wrap
              p.costs_info Required to improve to the next level:
              ul#costs
                li.metal.tooltip
                  .resourceIcon.descriptionIcon.metal
                  #cost1.cost -
                li.crystal.tooltip
                  .resourceIcon.descriptionIcon.crystal
                  #cost2.cost -
                li.deuterium.tooltip
                  .resourceIcon.descriptionIcon.energy
                  #cost3.cost -
            .build-it_wrap
              a#build-it.build-it(href='javascript:void(0);')
                span Improve
          br(clear='all')
          #description
            .txt_box
              a.tooltip.help.overlay(href='Ogame_Tecnology.html')
              p#descriptionText.description_txt(style='width: 90%')
                | Deuterium Synthesizers draw the trace Deuterium content from the water on a planet.
    .c-left
    .c-right
    #buttonz
      .header
        h2 Facility buildings
      .content
        ul#stationbuilding
          li#button0.on
            // disable = rayado; on = prendido; off = blanco y negro
            .item_box.station14
              .stationlarge.buildingimg
                a#details14.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("robotFactory");return false;')
                  span.ecke
                    span.level
                      span.textlabel Robotics Factory
                      | 0
          li#button1.on
            .item_box.station21
              .stationlarge.buildingimg
                a.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("shipyard");return false;')
                  span.ecke
                    span.level
                      span.textlabel Shipyard
                      | 0
          li#button2.on
            .item_box.station31
              .stationlarge.buildingimg
                a.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("researchLab");return false;')
                  span.ecke
                    span.level
                      span.textlabel Research Lab
                      | 0
          li#button3.on
            .item_box.station34
              .stationlarge.buildingimg
                a#details34.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("alliance");return false;')
                  span.ecke
                    span.level
                      span.textlabel Alliance Depot
                      | 0
          li#button4.on
            .item_box.station44
              .stationlarge.buildingimg
                a#details44.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("silo");return false;')
                  span.ecke
                    span.level
                      span.textlabel Missile Silo
                      | 0
          li#button5.on
            .item_box.station15
              .stationlarge.buildingimg
                a#details15.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("naniteFactory");return false;')
                  span.ecke
                    span.level
                      span.textlabel Nanite Factory
                      | 0
          li#button6.on
            .item_box.station33
              .stationlarge.buildingimg
                a#details33.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription("terraformer");return false;')
                  span.ecke
                    span.level
                      span.textlabel Terraformer
                      | 0
        .footer
