extends Ogame_Layout
block content
  #content
    #buttonz
      .header
        h2 Messages
      .content.tabs_wrap
        ul.tabs_btn
          li.buttonType.ui-tabs-active(tabindex='0')
            a.tabs_btn_img.tb_fleets(href='#' onclick='changeTypeMessage(1); return false;')
              .marker
              span.icon_caption Fleets
          li.buttonType(tabindex='1')
            a.tabs_btn_img.tb_communication(href='#' onclick='changeTypeMessage(2); return false;')
              .marker
              span.icon_caption Espionage
          li.buttonType(tabindex='2')
            a.tabs_btn_img.tb_universe(href='#' onclick='changeTypeMessage(3); return false;')
              .marker
              span.icon_caption Universe
          li.buttonType(tabindex='3')
            a.tabs_btn_img.tb_economy(href='#' onclick='changeTypeMessage(4); return false;')
              .marker
              span.icon_caption Other
          li#buttonTrash
            a.btn_blue(href='#' onclick='deleteAllMessage();') Trash
        div
          .tab_ctn
            ul#listNode.tab_inner
              li.no_msg
                | There are currently no messages available in this tab


        .footer
        li#orginalMessage.msg(style='display: none')
          a.fright(href='javascript: void(0);' onclick='deleteMessage(this)')
            span.icon_nf.icon_refuse
          span.msg_title.blue_txt Titulo
          span.msg_date.fright 30.11.2019 12:46:08
          span.msg_content Hola este es el primer mensaje super hardcoreado XD
