extends Ogame_Layout
block content
  #inhalt
    #galaxyHeader
      form(action='https://s163-en.ogame.gameforge.com/game/index.php?page=galaxy' name='galaform' method='post')
        span.galaxy_icons.galaxy.tooltip(title='Galaxy')
        span.galaxy_icons.prev(onclick='submitOnKey(40);')
        input#galaxy_input.hideNumberSpin(maxlength='3' type='text' pattern='[0-9]*' value='2' name='galaxy' tabindex='2' onfocus='clearInput(this);' onkeyup='checkIntInput(this, 1, 5)' onkeypress='return submitOnEnter(event);')
        span.galaxy_icons.next(onclick='submitOnKey(38);')
        span.galaxy_icons.solarsystem.tooltip(title='System')
        span.galaxy_icons.prev(onclick='submitOnKey(37);')
        input#system_input.hideNumberSpin(maxlength='3' type='text' pattern='[0-9]*' value='289' tabindex='2' name='system' onfocus='clearInput(this);' onkeyup='checkIntInput(this, 1, 499)' onkeypress='return submitOnEnter(event);')
        span.galaxy_icons.next(onclick='submitOnKey(39);')
        .btn_blue(onclick='submitForm();')
          | Go!
        #expeditionbutton.btn_blue.float_right(onclick='doExpedition();')
          | Expedition
    #galaxyContent
      #mobileDiv
        table#galaxytable(cellpadding='0' cellspacing='0' border='0' data-galaxy='2' data-system='289')
          thead
            tr.info.info_header.ct_head_row
              th(colspan='11')
                span#probes
                  | Esp.Probe:
                  span#probeValue ???
                span#recycler
                  | Recy.:
                  span#recyclerValue ???
                span#rockets
                  | IPM.:
                  span#missileValue ???
                span#slots
                  | Used slots:
                  span#slotValue 0/???
            tr#galaxyheadbg2.ct_head_row
              th.first(style='width: 70px; overflow: hidden;') Planet
              th(style='width: 129px; padding-right: 5px;') Name
              th.text_moon(style='width: 38px; padding-right: 5px;') Moon
              th(style='width: 38px; padding-right: 5px;') DF
              th(style='width: 170px; padding-right: 20px;') Player (status)
              th.last(style='width: 130px;') Actions
          tfoot
            tr#fleetstatus.footer.ct_foot_row
              td#fleetstatusrow.ct_foot_row(colspan='11')
            tr.info.ct_foot_row
              td(colspan='11')
                span#colonized - Planets colonised
                br.clearfloat
          tbody
            tr.row
              td.position 1
              td.microplanet.js_planet1
                #1_Planet.ListImage
                  img(id='Planet1' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon1
                #1_Moon.ListMoon
              td.debris.js_debris1
                #1_Debris.ListDebris
              td.playername
                span.status
              td.action
                a.tooltip
                  span.icon.icon_eye
                a.tooltip
                  span.icon.icon_chat
                a.tooltip
                  span.icon.icon_fed_attack
                a.tooltip
                  span.icon.icon_against
                a.tooltip
                  span.icon.icon_edit
                a.tooltip
                  span.icon.icon_checkmark
                a.tooltip
                  span.icon.icon_adressbook
                  


            tr.row
              td.position 2
              td.microplanet.js_planet2
                #2_Planet.ListImage
                  img(id='Planet2' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon2
                #2_Moon.ListMoon
              td.debris.js_debris2
                #2_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 3
              td.microplanet.js_planet3
                #3_Planet.ListImage
                  img(id='Planet3' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon3
                #3_Moon.ListMoon
              td.debris.js_debris3
                #3_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 4
              td.microplanet.js_planet4
                #4_Planet.ListImage
                  img(id='Planet4' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon4
                #4_Moon.ListMoon
              td.debris.js_debris2
                #4_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 5
              td.microplanet.js_planet5
                #5_Planet.ListImage
                  img(id='Planet5' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon5
                #5_Moon.ListMoon
              td.debris.js_debris5
                #5_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 6
              td.microplanet.js_planet6
                #6_Planet.ListImage
                  img(id='Planet6' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon6
                #6_Moon.ListMoon
              td.debris.js_debris6
                #6_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 7
              td.microplanet.js_planet7
                #7_Planet.ListImage
                  img(id='Planet7' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon7
                #7_Moon.ListMoon
              td.debris.js_debris7
                #7_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 8
              td.microplanet.js_planet8
                #8_Planet.ListImage
                  img(id='Planet8' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon8
                #8_Moon.ListMoon
              td.debris.js_debris8
                #8_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 9
              td.microplanet.js_planet9
                #9_Planet.ListImage
                  img(id='Planet9' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon9
                #9_Moon.ListMoon
              td.debris.js_debris9
                #9_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 10
              td.microplanet.js_planet10
                #10_Planet.ListImage
                  img(id='Planet10' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon10
                #10_Moon.ListMoon
              td.debris.js_debris10
                #10_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 11
              td.microplanet.js_planet11
                #11_Planet.ListImage
                  img(id='Planet11' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon11
                #11_Moon.ListMoon
              td.debris.js_debris11
                #11_Debris.ListDebris
              td.playername
                span.status
              td.action




            tr.row
              td.position 12
              td.microplanet.js_planet12
                #12_Planet.ListImage
                  img(id='Planet12' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon12
                #12_Moon.ListMoon
              td.debris.js_debris12
                #12_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 13
              td.microplanet.js_planet13
                #13_Planet.ListImage
                  img(id='Planet13' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon13
                #13_Moon.ListMoon
              td.debris.js_debris13
                #13_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 14
              td.microplanet.js_planet14
                #14_Planet.ListImage
                  img(id='Planet14' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon14
                #14_Moon.ListMoon
              td.debris.js_debris14
                #14_Debris.ListDebris
              td.playername
                span.status
              td.action



            tr.row
              td.position 15
              td.microplanet.js_planet15
                #15_Planet.ListImage
                  img(id='Planet15' src='' width='30' height='30' alt='')
              td.planetname1(align='center')
                span.planetName
              td.moon.js_moon15
                #15_Moon.ListMoon
              td.debris.js_debris15
                #15_Debris.ListDebris
              td.playername
                span.status
              td.action
                span
