extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image: url(./Imagenes/Research/Research.jpg)')
      #header_text
        h2 Research - Planeta Principal
      form(method='POST' action='' name='form')
        #detail.detail_screen
          #research_124_large.pic
            a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
              .techtree_img
              span.label Techtree
          #content
            h2 Astrophysics
            a#close.close_details(href='javascript:void(0);' onclick='toggleDescription(-1); return false;')
            span.level
              | Level 3
              span.undermark
            br.clearfloat
            ul.production_info
              li
                | Research time:
                span#buildDuration.time
                  | 2h 40m 46s
                  span.undermark
            .costs_wrap
              p.costs_info Required to improve to level 4:
              ul#costs
                li.metal.tooltip
                  .resourceIcon.metal
                  .cost.overmark 21.400
                li.crystal.tooltip
                  .resourceIcon.crystal
                  .cost.overmark 42.900
                li.deuterium.tooltip
                  .resourceIcon.deuterium
                  .cost.overmark 21.400
            .build-it_wrap
              a.build-it_disabled(href='javascript:void(0);')
                span Research
          br(clear='all')
          #description
            .txt_box
              a.tooltip.help.overlay(href='Ogame_Tecnology.html')
              p.description_txt(style='width: 90%')
                | With an astrophysics research module, ships can undertake long expeditions. Every second level of this technology will allow you to colonise an extra planet.
    .c-left
    .c-right
    #buttonz.wrapButtons
      #wrapBattle.resLeft.fleft
        h2 Basic research
        ul#base1.activate
          li.on
            .item_box.research113
              .buildingimg
                a#details113.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(21);return false;')
                  span.ecke
                    span.level
                      span.textlabel Energy Technology
                      | 0
          li.on
            .item_box.research120
              .buildingimg
                a#details120.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(22);return false;')
                  span.ecke
                    span.level
                      span.textlabel Laser Technology
                      | 0
          li.on
            .item_box.research121
              .buildingimg
                a#details121.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(23);return false;')
                  span.ecke
                    span.level
                      span.textlabel Ion Technology
                      | 0
          li.on
            .item_box.research114
              .buildingimg
                a#details114.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(24);return false;')
                  span.ecke
                    span.level
                      span.textlabel Hyperspace Technology
                      | 0
          li.on
            .item_box.research122
              .buildingimg
                a#details122.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(25);return false;')
                  span.ecke
                    span.level
                      span.textlabel Plasma Technology
                      | 0
      #wrapBattle.resRight.fleft
        h2 Drive research
        ul#base2.activate
          li.on
            .item_box.research115
              .buildingimg
                a#details115.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(26);return false;')
                  span.ecke
                    span.level
                      span.textlabel Combustion Drive
                      | 0
          li.on
            .item_box.research117
              .buildingimg
                a#details117.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(27);return false;')
                  span.ecke
                    span.level
                      span.textlabel Impulse Drive
                      | 0
          li.on
            .item_box.research118
              .buildingimg
                a#details118.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(28);return false;')
                  span.ecke
                    span.level
                      span.textlabel Hyperspace Drive
                      | 0
      #wrapBattle.resLeft.fleft
        h2 Advanced researches
        ul#base3.activate
          li.on
            .item_box.research106
              .buildingimg
                a#details106.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(29);return false;')
                  span.ecke
                    span.level
                      span.textlabel Espionage Technology
                      | 0
          li.on
            .item_box.research108
              .buildingimg
                a#details108.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(30);return false;')
                  span.ecke
                    span.level
                      span.textlabel Computer Technology
                      | 0
          li.on
            .item_box.research124
              .buildingimg
                a#details124.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(31);return false;')
                  span.ecke
                    span.level
                      span.textlabel Astrophysics
                      | 0
          li.on
            .item_box.research123
              .buildingimg
                a#details123.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(32);return false;')
                  span.ecke
                    span.level
                      span.textlabel Intergalactic Research Network
                      | 0
          li.on
            .item_box.research199
              .buildingimg
                a#details199.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(33);return false;')
                  span.ecke
                    span.level
                      span.textlabel Graviton Technology
                      | 0
      #wrapBattle.resRight.fleft
        h2 Combat research
        ul#base4.activate
          li.on
            .item_box.research109
              .buildingimg
                a#details109.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(34);return false;')
                  span.ecke
                    span.level
                      span.textlabel Weapons Technology
                      | 0
          li.on
            .item_box.research110
              .buildingimg
                a#details110.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(35);return false;')
                  span.ecke
                    span.level
                      span.textlabel Shielding Technology
                      | 0
          li.on
            .item_box.research111
              .buildingimg
                a#details111.detail_button.tooltip.slideIn(href='#' onclick='toggleDescription(36);return false;')
                  span.ecke
                    span.level
                      span.textlabel Armour Technology
                      | 0
      br.clearfloat
