extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Search.jpg)')
      #header_text
        h2 Technology - #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
    .c-left
    .c-right
    #buttonz
      .header
        h2 Technology Table
      .content
        table#technologyTable.content_table.ignorelist
          colgroup
            col(span='1' style='width: 70px;')
            col(span='1' style='width: 120px;')
            col(span='1' style='width: 150px;')
            col(span='1' style='width: 40px;')
          thead
            tr.ct_head_row
              th.no.ct_th.first Type
              th.ct_th.ct_sortable_title Name
              th.ct_th.ct_sortable_title Requeriments
              th.ct_th.ct_sortable_title Dificult
          tbody
            each item in technologyList
              tr
                th.typeTechnology= item.category
                th(class=(info[item.key].tech ? "undermark" : "overmark"))= names[item.key]
                th
                  if item.requirements.length === 0
                    | -
                  else
                    each req in item.requirements
                      p(class=(info[req.key].level >= req.level ? "undermark" : "overmark"))= names[req.key] + " (level " + req.level + ")"
                th= item.difficulty
      .footer
