extends Ogame_Layout
block content
  #inhalt
    #planet.shortHeader
      h2 Resource settings - Planeta Principal
    .contentRS
      .headerRS
        a.close_details.close_ressources(href='./Ogame_Resources.html')
      .mainRS
        form(method='POST' action='')
          table.list.listOfResourceSettingsPerPlanet(cellpadding='0' cellspacing='0' style='margin-top:0px;')
            tbody
              tr
                td#factor(colspan='7')
                  .secondcol
                    div(style='width:376px; margin: 0px auto;')
                      span.factorkey Production factor: 100%
                      span.factorbutton
                        input.btn_blue(type='submit' value='Recalculate')
                      br.clearfloat
              tr
                th(colspan='2')
                th Metal
                th Crystal
                th Deuterium
                th Energy
                th
              tr.alt
                td.label(colspan='2') Basic Income
                td.undermark.textRight
                  span.tooltipCustom 180
                td.undermark.textRight
                  span.tooltipCustom 90
                td.normalmark.textRight
                  span.tooltipCustom 0
                td.normalmark.textRight
                  span.tooltipCustom 0
                td
              tr
                td.label Metal Mine (Level 19)
                td
                td.undermark
                  span.tooltipCustom 20.916
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.overmark
                  span.tooltipCustom 1.163/1.163
                td
                  select.undermark.dropdownInitialized(name='last1' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0') 0%
                  span.dropdown.currentlySelected.undermark(style='width: 67px;')
                    a#downButton1.undermark(value='100' href='javascript:void(0);' onclick='clickSelect(1)') 100%
                  ul#dropdown1.dropdown.dropdownList.initialized(style='left: 568px; top: 186px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 1)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 1)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 1)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 1)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 1)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 1)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 1)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 1)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 1)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 1)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 1)') 0%
              tr.alt
                td.label Crystal Mine (Level 16)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.undermark
                  span.tooltipCustom 8.822
                td.normalmark
                  span.tooltipCustom 0
                td.overmark
                  span.tooltipCustom 736/736
                td
                  select.undermark.dropdownInitialized(name='last2' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0') 0%
                  span.dropdown.currentlySelected.undermark(style='width: 67px;')
                    a#downButton2.undermark(data-value='100' href='javascript:void(0);' onclick='clickSelect(2)') 100%
                  ul#dropdown2.dropdown.dropdownList.initialized(style='left: 568px; top: 211px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 2)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 2)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 2)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 2)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 2)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 2)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 2)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 2)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 2)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 2)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 2)') 0%
              tr
                td.label Deuterium Synthesizer (Level 10)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.undermark
                  span.tooltipCustom 1.774
                td.overmark
                  span.tooltipCustom 519/519
                td
                  select.undermark.dropdownInitialized(name='last3' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0') 0%
                  span.dropdown.currentlySelected.undermark(style='width: 67px;')
                    a#downButton3.undermark(value='100' href='javascript:void(0);' onclick='clickSelect(3)') 100%
                  ul#dropdown3.dropdown.dropdownList.initialized(style='left: 568px; top: 236px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 3)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 3)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 3)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 3)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 3)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 3)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 3)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 3)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 3)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 3)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 3)') 0%
              tr.alt
                td.label Solar Plant (Level 19)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.undermark
                  span.tooltipCustom 2.324
                td
                  select.undermark.dropdownInitialized(name='last4' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0') 0%
                  span.dropdown.currentlySelected.undermark(style='width: 67px;')
                    a#downButton4.undermark(value='100' href='javascript:void(0);' onclick='clickSelect(4)') 100%
                  ul#dropdown4.dropdown.dropdownList.initialized(style='left: 568px; top: 261px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 4)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 4)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 4)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 4)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 4)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 4)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 4)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 4)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 4)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 4)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 4)') 0%
              tr
                td.label Fusion Reactor (Level 0)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.overmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td
                  select.overmark.dropdownInitialized(name='last12' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0' selected='') 0%
                  span.dropdown.currentlySelected.overmark(style='width: 67px;')
                    a#downButton5.overmark(value='0' href='javascript:void(0);' onclick='clickSelect(5)') 0%
                  ul#dropdown5.dropdown.dropdownList.initialized(style='left: 568px; top: 286px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 5)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 5)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 5)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 5)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 5)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 5)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 5)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 5)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 5)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 5)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 5)') 0%
              tr.alt
                td.label Solar Satellite (Number: 8)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.undermark
                  span.tooltipCustom 280
                td
                  select.undermark.dropdownInitialized(name='last212' size='1' style='display: none;')
                    option.undermark(value='100' selected='') 100%
                    option.undermark(value='90') 90%
                    option.undermark(value='80') 80%
                    option.undermark(value='70') 70%
                    option.middlemark(value='60') 60%
                    option.middlemark(value='50') 50%
                    option.middlemark(value='40') 40%
                    option.overmark(value='30') 30%
                    option.overmark(value='20') 20%
                    option.overmark(value='10') 10%
                    option.overmark(value='0') 0%
                  span.dropdown.currentlySelected.undermark(style='width: 67px;')
                    a#downButton6.undermark(value='100' href='javascript:void(0);' onclick='clickSelect(6)') 100%
                  ul#dropdown6.dropdown.dropdownList.initialized(style='left: 568px; top: 311px; min-width: 67px; display:none;')
                    li
                      a.undermark(value='100' onclick='setDropdown(100, 1)') 100%
                    li
                      a.undermark(value='90' onclick='setDropdown(90, 6)') 90%
                    li
                      a.undermark(value='80' onclick='setDropdown(80, 6)') 80%
                    li
                      a.undermark(value='70' onclick='setDropdown(70, 6)') 70%
                    li
                      a.middlemark(value='60' onclick='setDropdown(60, 6)') 60%
                    li
                      a.middlemark(value='50' onclick='setDropdown(50, 6)') 50%
                    li
                      a.middlemark(value='40' onclick='setDropdown(40, 6)') 40%
                    li
                      a.overmark(value='30' onclick='setDropdown(30, 6)') 30%
                    li
                      a.overmark(value='20' onclick='setDropdown(20, 6)') 20%
                    li
                      a.overmark(value='10' onclick='setDropdown(10, 6)') 10%
                    li
                      a.overmark(value='0' onclick='setDropdown(0, 6)') 0%
              tr
                td.label Plasma Technology (Level 0)
                td
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td.normalmark
                  span.tooltipCustom 0
                td
              tr
                td.label(colspan='2') Storage capacity
                td.normalmark.left2
                  span.tooltipCustom 470.000
                td.normalmark.left2
                  span.tooltipCustom 255.000
                td.normalmark.left2
                  span.tooltipCustom 75.000
                td -
                td
              tr.summary.alt
                td.label(colspan='2')
                  em Total per hour:
                td.undermark
                  span.tooltipCustom 21.096
                td.undermark
                  span.tooltipCustom 8.912
                td.undermark
                  span.tooltipCustom 1.774
                td.undermark
                  span.tooltipCustom 186
                td
              tr
                td.label(colspan='2')
                  em Total per day:
                td.undermark
                  span.tooltipCustom 506.304
                td.undermark
                  span.tooltipCustom 213.888
                td.undermark
                  span.tooltipCustom 42.576
                td.undermark
                  span.tooltipCustom 186
                td
              tr.alt
                td.label(colspan='2')
                  em Total per week:
                td.undermark
                  span.tooltipCustom 3.544M
                td.undermark
                  span.tooltipCustom 1.497M
                td.undermark
                  span.tooltipCustom 298.032
                td.undermark
                  span.tooltipCustom 186
                td
      .footerRS
    br.clearfloat
