extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Shipyard/Shipyard.jpg)')
      #header_text
        h2 Shipyard - Planeta Principal
      form(method='POST' action='' name='form')
        #detail.detail_screen(style='height: 0px; display: block; overflow: hidden; margin-top: 0px;')
          #shipyard_204_large.pic
            a.techtree_link.tooltip.overlay(href='./Ogame_Tecnology.html')
              .techtree_img
              span.label Techtree
          #content
            h2 Light Fighter
            a#close.close_details(href='javascript:void(0);' onclick='toggleDescription(-1); return false;')
            span.level
              | Number: 0
              span.undermark
            br.clearfloat
            ul.production_info.narrow
              li
                | Production duration
                span#buildDuration.time
                  | 5m 20s
                  span.undermark
              li
                | Construction possible:
                span#possibleInTime.time now
            .enter
              p.amount Number:
              .clearfix.maxlink_wrap
                input#number.amount_input(type='text' pattern='[0-9,.]*' size='5' name='menge' value='')
                .maxlink_arrow
                a#maxlink.tooltip(href='javascript:void(0);' onclick="document.forms['form'].menge.value = 5;") [max. 5]
            .costs_wrap
              p.costs_info Costs per piece:
              ul#costs
                li.metal.tooltip
                  .resourceIcon.metal
                  .cost 3.000
                li.crystal.tooltip
                  .resourceIcon.crystal
                  .cost 1.000
            .build-it_wrap
              .premium_info_placeholder
              a.build-it(href='javascript:void(0);')
                span Build
          br(clear='all')
          #description
            .txt_box
              a.tooltip.help.overlay(href='./Ogame_Tecnology.html')
              p.description_txt(style='width: 90%')
                | This is the first fighting ship all emperors will build. The light fighter is an agile ship, but vulnerable on its own. In mass numbers, they can become a great threat to any empire. They are the first to accompany small and large cargoes to hostile planets with minor defences.
    .c-left
    .c-right
    #buttonz
      .header
        h2
          span.h_battleships Combat ships
          span.h_civilships Civil ships
      .content
        #battleships
          ul#military
            li#button1.on
              .item_box.military204
                .buildingimg
                  a#details204.detail_button.tooltip.slideIn(onclick='toggleDescription(31);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Light Fighter
                        | 0
            li#button2.on
              .item_box.military205
                .buildingimg
                  a#details205.detail_button.tooltip.slideIn(onclick='toggleDescription(32);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Heavy Fighter
                        | 0
            li#button3.on
              .item_box.military206
                .buildingimg
                  a#details206.detail_button.tooltip.slideIn(onclick='toggleDescription(33);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Cruiser
                        | 0
            li#button4.on
              .item_box.military207
                .buildingimg
                  a#details207.detail_button.tooltip.slideIn(onclick='toggleDescription(34);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Battleship
                        | 0
            li#button5.on
              .item_box.military215
                .buildingimg
                  a#details215.detail_button.tooltip.slideIn(onclick='toggleDescription(35);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Battlecruiser
                        | 0
            li#button6.on
              .item_box.military211
                .buildingimg
                  a#details211.detail_button.tooltip.slideIn(onclick='toggleDescription(36);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Bomber
                        | 0
            li#button7.on
              .item_box.military213
                .buildingimg
                  a#details213.detail_button.tooltip.slideIn(onclick='toggleDescription(37);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Destroyer
                        | 0
            li#button8.on
              .item_box.military214
                .buildingimg
                  a#details214.detail_button.tooltip.slideIn(onclick='toggleDescription(38);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Deathstar
                        | 0
        #civilships
          ul#civil
            li#button1.on
              .item_box.civil202
                .buildingimg
                  a#details202.detail_button.tooltip.slideIn(onclick='toggleDescription(39);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Small Cargo
                        | 0
            li#button2.on
              .item_box.civil203
                .buildingimg
                  a#details203.detail_button.tooltip.slideIn(onclick='toggleDescription(40);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Large Cargo
                        | 0
            li#button3.on
              .item_box.civil208
                .buildingimg
                  a#details208.detail_button.tooltip.slideIn(onclick='toggleDescription(41);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Colony Ship
                        | 0
            li#button4.on
              .item_box.civil209
                .buildingimg
                  a#details209.detail_button.tooltip.slideIn(onclick='toggleDescription(42);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Recycler
                        | 0
            li#button5.on
              .item_box.civil210
                .buildingimg
                  a#details210.detail_button.tooltip.slideIn(onclick='toggleDescription(43);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Espionage Probe
                        | 0
            li#button6.on
              .item_box.civil212
                .buildingimg
                  a#details212.detail_button.tooltip.slideIn(onclick='toggleDescription(44);return false;' href='javascript:void(0);')
                    span.ecke
                      span.level
                        span.textlabel Solar Satellite
                        | 0
        br.clearfloat
        .footer
