doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(http-equiv='Language' content='en')
  meta(name='ogame-timestamp' content='1572884151')
  meta(name='ogame-universe-name' content='')
  meta(name='ogame-universe-speed' content='6')
  meta(name='ogame-universe-speed-fleet' content='2')
  meta(name='ogame-language' content='en')
  meta(name='ogame-donut-galaxy' content='1')
  meta(name='ogame-donut-system' content='1')
  meta(name='ogame-player-id' content='106077')
  meta(name='ogame-player-name' content='dturco')
  meta(name='ogame-planet-id' content='33655142')
  meta(name='ogame-planet-name' content='Planeta Principal')
  meta(name='ogame-planet-coordinates' content='2:289:4')
  meta(name='ogame-planet-type' content='planet')
  link(rel='stylesheet' type='text/css' href='./Css/General_Style.css' media='screen')
  link(rel='shortcut icon' type='image/x-icon' href='Imagenes/Favicon.ico')
  script(src='./Scripts/General_Player.js')
  title OGame
body#overview
  .contentBoxBody
    #box
      // TOP MENU
      #info.header.normal
        #clearAdvice
        #bar
          ul
            li#playerName
              | Player:
              span.textBeefy
                a.textBeefy(href='./Player.html') dturco
            li
              span (2255)
              a(href='./Highscore.html') Highscore
            li
              a(href='./Vacas.html') Vacas
            li
              a(href='./Search.html') Search
            li
              a(href='./Options.html') Options
            li
              a(href='./GodMain.html') God Mode
            li.OGameClock 07.12.2019 16:17:18
        ul#resources
          li#metal_box.metal
            .resourceIcon.metal
            span.value
              span#resources_metal 500
          li#crystal_box.crystal
            .resourceIcon.crystal
            span.value
              span#resources_crystal 500
          li#deuterium_box.deuterium
            .resourceIcon.deuterium
            span.value
              span#resources_deuterium 200
          li#energy_box.energy
            .resourceIcon.energy
            span.value
              span#resources_energy 31
          li#darkmatter_box.darkmatter.dark_highlight_tablet
            img(src='./Imagenes/Dark_matter.gif')
            span.value
              span#resources_darkmatter 0
        #message-wrapper
          // Notificaciones de mensajes y flotas
          a.comm_menu.messages(href='./Ogame_messages.html')
            span.new_msg_count.totalMessages.noMessage.news(data-new-messages='0') 0
            // Mensajes
          a.comm_menu.chat(href='./Vacas.html')
            span.new_msg_count.totalChatMessages.noMessage(data-new-messages='0') 0
            // Chat
          #messages_collapsed
            #eventboxFilled.eventToggle(style='display: none;')
              a#js_eventDetailsClosed(href='javascript:void(0);' title='More details')
              a#js_eventDetailsOpen.open(href='javascript:void(0);' title='Less detail')
            #eventboxLoading.textCenter.textBeefy(style='display: none;')
              img(height='16' width='16' src='./Imagenes/Loading.gif')
              | load...
            #eventboxBlank.textCenter(style='') No fleet movement
          #attack_alert.eventToggle.noAttack
            // <a href="https://s163-en.ogame.gameforge.com/game/index.php?page=eventList"></a>
            a(href='javascript:void(0);')
          br.clearfloat
        #helper
          a.highlight.Close(href='./OGame_Reward.html') ?
        #selectedPlanetName.textCenter Planeta Principal
      #toolbarcomponent
        // LEFTMENU
        #links
          ul#menuTable.leftmenu
            li
              span.menu_icon
                a(href='./Ogame_Reward.html' target='_self')
                  .menuImage.overview
              a.menubutton(href='./Ogame_Overview.html' target='_self')
                span.textlabel Overview
            li
              span.menu_icon
                a(href='./Ogame_ResourceSetings.html' target='_self')
                  .menuImage.resources
              a.menubutton(href='./Ogame_Resources.html' target='_self')
                span.textlabel Resources
            li
              span.menu_icon
                .menuImage.station
              a.menubutton(href='./Ogame_Facilities.html' target='_self')
                span.textlabel Facilities
            li
              span.menu_icon
                a.overlay.Right(href='./Ogame_Tecnology.html' target='_blank')
                  .menuImage.research
              a.menubutton(href='./Ogame_Research.html' target='_self')
                span.textlabel Research
            li
              span.menu_icon
                .menuImage.shipyard
              a.menubutton(href='./Ogame_Shipyard.html' target='_self')
                span.textlabel Shipyard
            li
              span.menu_icon
                .menuImage.defense
              a.menubutton(href='./Ogame_Defence.html' target='_self')
                span.textlabel Defence
            li
              span.menu_icon
                a(href='./Ogame_Movement.html' target='_self')
                  .menuImage.fleet1
              a.menubutton(href='./Ogame_Fleet.html' target='_self')
                span.textlabel Fleet
            li
              span.menu_icon
                .menuImage.galaxy
              a.menubutton(href='./Ogame_Galaxy.html' target='_self')
                span.textlabel Galaxy
          br.clearfloat
      #contentWrapper
        // CONTENT AREA
      #rechts
        // RIGHTMENU
        #norm
          #myWorlds
            #countColonies
              p.textCenter
                span 1/1
                |  Planets
            #planetList
              #planet-33655142.smallplanet
                a.planetlink.Right.Close(href='https://s163-en.ogame.gameforge.com/game/index.php?page=overview&cp=33655142')
                  img.planetPic.js_replace2x(alt='Planet' src='./Imagenes/Planets/Planet_1.png' width='48' height='48')
                  span.planet-name Planeta Principal
                  span.planet-koords [2:289:4]
