extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/Search.jpg)')
      #header_text
        h2 Search - #{(basic.moon) ? basic.planets[basic.numPlanet].moon.name : basic.planets[basic.numPlanet].name}
    .c-left
    .c-right
    #buttonz
      .header
        h2 Search Player
      .content
        div#controlSearch
          input#inputSearchPlayer(type='text')
          a.btn_blue(href='#' onclick='setSearch();') Search
        table#searchlist.content_table.ignorelist
          colgroup
            col(span='1' style='width: 20px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 60px;')
            col(span='1' style='width: 80px;')
          thead
            tr.ct_head_row
              th.no.ct_th.first ID
              th.ct_th.ct_sortable_title Player
              th.ct_th.ct_sortable_title Planet
              th.ct_th.ct_sortable_title Coordinates
              th.ct_th.textCenter Actions
          tbody
            each item, index in [1,2,3,4,5,6,7,8]
              tr.rowSearch(style='display: none;')
                th #{index + 1}
                th.playerSearch
                  a.playerSearchText(href='javascript:void(0);' onclick='goToPlayerOverview()')
                th.planetSearch
                th.coordinatesSearch
                  div.coordinatesDiv
                    a.coordinatesLink(href='./Ogame_Galaxy.html' target='_self')
                      p.coorSearch
                th.action
                  a.tooltip(href='#' onclick='sendEspionageFun(' + index + ');' title='espiar')
                    span.icon.icon_eye
                  a.tooltip(href='#' onclick='personalAttack(' + index + ');' title='ataque personalisado')
                    span.icon.icon_missile
                  a.tooltip(href='#' onclick='vacaAttack(' + index + ', true);' title='ataque vaca small')
                    span.icon.icon_against
                  a.tooltip(href='#' onclick='vacaAttack(' + index + ', false);' title='ataque vaca large')
                    span.icon.icon_close

      .footer
