extends Ogame_Layout
block content
  #inhalt
    #planet(style='background-image:url(./Imagenes/search.jpg)')
      #header_text
        h2 Search - #{basic.planets[basic.numPlanet].name}
    .c-left
    .c-right
    #buttonz
      .header
        h2 Search Player
      .content
        div#controlSearch
          input#inputSearchPlayer(type='text')
          a.btn_blue(href='#') Search
        table#vacaslist.content_table.ignorelist
          colgroup
            col(span='1' style='width: 20px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 110px;')
            col(span='1' style='width: 60px;')
            col(span='1' style='width: 80px;')
          thead
            tr.ct_head_row
              th.no.ct_th.first ID
              th.ct_th.ct_sortable_title Player
              th.ct_th.ct_sortable_title Planet
              th.ct_th.ct_sortable_title Coordinates
              th.ct_th.textCenter Actions
          tbody

      .footer
